@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;800&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;

}

.Title {
    font-size: 50px;
    text-align: center;
}

.Main-Title {
    color : white;
    background-color: #9bc3de;
    border-radius: 0 0 50px 50px;
}

.Check-Btn {
    display: block;  
    margin: 0 auto;          
    margin-top : 50px;
    background-color: #2c3e50; 
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-size: 1.2rem;
    padding: 15px 70px;
    border: none;
    border-radius: 12px; 
    letter-spacing: 0.05em; 
    transition: all 0.2s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.circle-questions {
    width: 20px;          /* 아이콘 크기 */
    height: 22px;
    display: block;       /* baseline 문제 제거 */
}

.Help-Btn {
    display: flex;                 /* 변경 */
    align-items: center;           /* 세로 가운데 */
    justify-content: center;       /* 가로 가운데 */
    gap: 8px;                      /* 이미지와 글 간격 */

    margin: 20px auto 0;
    background-color: #96a7b7; 
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-size: 1.2rem;
    padding: 6px 40px;
    border: none;
    border-radius: 12px; 
    letter-spacing: 0.05em; 
    transition: all 0.2s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.Check-Btn:active {
    transform: scale(0.96) translateY(2px);
    box-shadow: 0 3px 6px rgba(0,0,0,0.2);
}

.Help-Btn:active {
    transform: scale(0.96) translateY(2px);
    box-shadow: 0 3px 6px rgba(0,0,0,0.2);
}

@keyframes slideLeft {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}



/* 태블릿 (768px 이하) */
@media (max-width: 768px) {
    .Main-Title {
        font-size: 60px;
        padding: 15px;
    }
}

/* 모바일 (480px 이하) */
@media (max-width: 480px) {
    .Main-Title {
        font-size: 40px;
        padding : 50px;
        padding-bottom: 160px;
        font-weight: bold;
    }
}

/* 작은 모바일 (320px 이하) */
@media (max-width: 320px) {
    .Main-Title {
        font-size: 32px;
        padding: 8px;
    }
}